@model ShoppingCartViewModel

<div class="row checkoutForm">
    <h2>Your shopping cart</h2>
    <h4>Here are the drinks in your shopping cart.</h4>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Real Estate</th>
                <th class="text-right">Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
            {
                <tr>
                    <td class="text-left">@line.RealEstate.ShortDescription</td>
                    <td class="text-right">@line.RealEstate.Price.ToString("c")</td>
                    <td class="text-center"><a class="glyphicon glyphicon-remove text-danger remove" asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-realEstateid="@line.RealEstate.RealEstateId"></a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.ShoppingCartTotal.ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-right">
        <div class="btn-group">
            <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Check out</a>
            <a class="btn-group">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Add more real estates<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a asp-controller="RealEstate" asp-action="List" asp-route-category="east-south">East part of southern Bulgaria</a></li>
                    <li><a asp-controller="RealEstate" asp-action="List" asp-route-category="middle-south">Middle part of southern Bulgaria</a></li>
                    <li><a asp-controller="RealEstate" asp-action="List" asp-route-category="west-south">West part of southern Bulgaria</a></li>
                    <li><a asp-controller="RealEstate" asp-action="List" asp-route-category="east-north">East part of northern Bulgaria</a></li>
                    <li><a asp-controller="RealEstate" asp-action="List" asp-route-category="middle-north">Middle part of northern Bulgaria</a></li>
                    <li><a asp-controller="RealEstate" asp-action="List" asp-route-category="west-north">West part of northern Bulgaria</a></li>
                </ul>
            </a>
        </div>
    </div>
</div>